
#topHeader {
  
  margin-top: 120px;
  height: 400px;
  width: 100%;
  background-color: #b8b790; 
  background-image: url("/images/3px-tile.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.userID {


 margin-left: auto;
 margin-right: auto;
/*   margin: 0 auto;
  width: 200px;
  color: white; */
 /*  width: 50%; */
/*   padding: 10px;
  top: 100px;
  left: 50%;
  margin-left: -50px;
  margin-top: 50px;  */
  
}

/*   position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -50px;
  margin-top: 50px;
  background-color: #f4f1ec; */

  /* .fixed-top {
    position: relative;
    top: 0;
    right: 0;
    left: 0; */