
#topHeader {
  
  height: 400px;
  width: 100%;
  background-color: rgb(161, 191, 219); 
  background-image: url("/images/3px-tile.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userID {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px; 
}

@media (min-width: 1340px) {
  #topHeader {
    margin-left: 3%;
    margin-right: 3%;
    margin-top:5em;
    width: 27.3%;
    float: left;
  }
}

@media (min-width: 1020px) and (max-width: 1339px) {
  #topHeader {
    margin-left: 3%;
    margin-top:5em;
    width: 30.3%;
    float: left;
  }
}
