#logo { 
  float: left;
  font-family: 'Bungee', sans-serif;
}

nav {
  font-family: 'Source Sans Pro', sans-serif;
  z-index: 7;
  color: #FFFFFF ;
  background-color:#aa7d7e;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
}

.navRight{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1px;
  margin-top: 20px;
}
.newTweetButton {  
  color: rgb(77, 74, 74);
  outline: none;
  background: transparent;
  border: transparent;
  width: 100%;
  margin: auto;
}

#panel, #flip {
padding: 5px;
text-align: center;
background-color: #e5eecc;
border: solid 1px #c3c3c3;
}

#panel {
padding: 50px;
display: none;
}

.newTweetButton:active {
  outline: none;
  transform: translateY(6px);
}

@media (max-width: 1020px) {
  nav {
    background-color: rgb(161, 191, 219); 
    background-image: url("/images/3px-tile.png");

  }
}
