#logo { 
  float: left;
  font-family: 'Bungee', sans-serif;
}

nav {
  font-family: 'Source Sans Pro', sans-serif;
  z-index: 7;
  color: #FFFFFF ;
  background-color:#aa7d7e;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
}

.navRight{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}
.newTweetButton {  
  color: #rgb(77, 74, 74);
  outline: none;
  background: transparent;
  border: transparent;
  width: 100%;
  margin: auto;
}

#panel, #flip {
padding: 5px;
text-align: center;
background-color: #e5eecc;
border: solid 1px #c3c3c3;
}

#panel {
padding: 50px;
display: none;
}

.newTweetButton:active {
  outline: none;
  transform: translateY(6px);
}

/* nav {
  position: fixed;
  font-family: 'Source Sans Pro', sans-serif;
  top: 0;
  height: 120px;
  width: 100%;
  z-index: 7;
  color: #FFFFFF ;
  background-color:#aa7d7e;
  padding: 1.5em;
}
.navi {
  float: right;
  height: 100%;
  width: 20%;
} 
.newTweetButton {   

   margin: 0 auto; 
  position: absolute;
  margin-top: 0.5%;
  margin-left: 5%;  
  background-image: url("/images/chev.png");
  background-size: cover; 
  background-position: center; 
  display: inline-block;
  border: none; 
  padding: 10px;
  width: 30px;
  height: 10px;
  transition: all 0.5s; 
  cursor: pointer;  

}
*/