#logo { 
  font-family: 'Bungee', sans-serif;

}

nav {
  position: fixed;
  top: 0;
  height: 120px;
  width: 100%;
  z-index: 7;
  color: #FFFFFF ;
  background-color: #4056A1;
  padding: 1.5em;
}
  